.home-main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1035px;

    &__h3 {
        color: #4A4FF2;
        font-size: 22px;
        line-height: 28px;
    }

    &__pd {
        color: #4A4FF2;
    }

    &__p {
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
    }

    &__quote {
        padding-bottom: 27px;
        font-size: 18px;
        line-height: 23px;
        color: #11111160;
        font-style: italic;
        align-self: flex-end;
    }

}
